
/* common css  */

.container-fluid  {
	margin-top:50px;
}

.pocket-ticket-top-nav {
   background:#202022;
   border:none;
   border-bottom:1px solid #202022;
   min-height: 40px;
   margin-bottom:13px;
   border-radius:0
}

.navbar-brand {
    float: left;
    height: 40px;
    padding: 13px 15px 15px;
    font-size: 18px;
    line-height: 20px;
	color:#fff;
	font-family:Lato;
	font-weight:700;
}

.navbar-brand:focus, .navbar-brand:hover {
 color:#fff; outline:0;
}

.app-pg-name {
  float:none;
  display:inherit;
  text-align:center;
  text-indent:-22px;
}

.header_page {
  color:#656565;
  font-family:Lato;
  font-weight:700;
 }
 
.right-menu-icon {
   color: #919191;
    margin-top: 10px;
    font-size: 21px;
    float: right;
    margin-right: 13px;
	cursor: pointer;
 }
 
.btn:focus{
    color:#fff;
    outline: none;
	outline: 0 !important;
}

.btn:active {
   -webkit-box-shadow: none;
    box-shadow: none;
}

/* login page */

.p-ticket-bg-img  {
  background-size: cover; 
  min-height: 100%; 
  min-height: 100vh; 
  background-image: url(../img/background.jpg);
  margin-top: 0;
 }
 
.p-ticket-logo  {
   margin:55px auto 50px;
}
 
 .email-bg {
  margin-bottom:25px;
 }
 
.email-bg .input-group-addon, .password-bg .input-group-addon  {
  background:#fff;
  border:none;
  border-radius:0;
  color:#c7c7c7;
  padding: 7px 0px 8px 10px;
  font-size:16px;
  -webkit-box-shadow: none;
    box-shadow: none;
 }
 
 .email-bg .input-group-addon:after, .password-bg .input-group-addon:after  {
  content: " | ";
    color: #d2d2d2;
    font-size: 20px;
    padding-left: 4px;
 }
 
 .email-bg input, .password-bg input  {
  background:#fff;
  border:none;
  border-radius:0;
  color:#909090;
  font:400 15px Lato;
   padding-top:8px;
   height:40px;
   -webkit-box-shadow: none;
    box-shadow: none;
	font-family:Lato;
 }
 
 .email-bg input:focus, .password-bg input:focus {
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.password-bg   {
  margin-bottom:20px;
 }

.forgot-password {
 font: 400 18px Lato;
 color:#268bc3;
 display:block;
 text-align: center;
 margin-bottom:15px;
}

.forgot-password:hover {
 color:#268bc3;
 text-decoration:none;
}

.green-btn {
  background:#26ba9a;
  border-radius:0;
  font: 700 21px Lato;
  color:#fff;
  text-align:center;
  padding:12px 16px;
  display:block;
  margin:30px auto 20px;
}

.green-btn:hover {
  color:#fff;
}

/* 10_4- Talent Profile Page & 10_5- Performance Page */

.talent-profile-cards, .performance-cards {
 border:1px solid #e6e6e6;
 margin:8px auto 18px;
 font-family:Lato;
}

.talent-profile-cards .card-header, .performance-cards .card-header  {
  color:#5e5e5e;
  font-weight:700;
  border-bottom:1px solid #e3e3e3;
  padding:10px 11px 7px 13px;
  font-size:15px;
}

.talent-profile-cards .card-header i {
  color:#919191;
  font-size:23px;
  float:right;
}

.talent-profile-cards .card-blockquote, .performance-cards .card-blockquote  {
  padding:7px 11px 7px 13px;
  color:#333; line-height:1.4;
  font-size:15px;
}

.text-muted  {
  color:#6b6b6b;
  font-weight:500;
}

/*  11- ABC Team  */

.plus-icon_top  {
   float: right;
    margin-top: -41px;
	font-size:17px;
}

.plus-icon_top i {
   vertical-align:-2px;
}

.label_budget {
  font:500 15px Lato;
  color:#6c6c6c;
  text-align:center;
  margin-top:0;
  margin-bottom:2px;
}

.budget-amt  {
  text-align:center;
  font: 700 24px Lato;
  color:#26ba9a;
  margin-top:0;
 }
 
.budget-amt i {
 color:#888;
 padding-left:7px;
 font-size:20px;
 }
 
.team-info_cards {
 border:1px solid #e6e6e6;
 margin:7px auto 16px;
 font-family:Lato ;
}

.team-info_cards .card-header {
  color:#5e5e5e;
  border-bottom:1px solid #e3e3e3;
  padding:5px 0;
}

.team-info_cards .card-block {
  padding:10px 11px 10px 13px;
  font-size:13px;
  background:#f2f2f2;
}

.team-info_cards .card-block .card-blockquote {
  color:#757575;
  border-bottom:1px solid #dedede;
  padding-bottom:7px;
}

.team-info_cards .card-block .card-blockquote i {
  color:#bebebe;
  font-size:15px;
  padding-right:5px;
}

.label-team-lead {
  font:300 13px Lato;
  color:#6c6c6c;
  margin-top:0;
  margin-bottom:1px;
}

.label-task-assigned {
  font:300 13px Lato;
  color:#6c6c6c;
  margin-top:0;
  margin-bottom:1px;
  text-align:right;
}

.member-name {
  font-size:16px;
  font-weight:700;
  margin-top:6px;
  color:#666;
  margin-bottom:5px;
 }
 
 .member-name:before {
   content: "\f111";
    font-family: FontAwesome;
    color: #69ac11;
    font-size: 13px;
    vertical-align: 1.5px;
    padding-right: 7px;
 }
 
.no-of-tasks  {
  font-size:18px;
  font-weight:700;
  margin-top:6px;
  margin-bottom:5px;
  color:#ff8b22;
  text-align:right;
 }
 
 /* css for select button dropdown  {START} */

.btn-select {
    position: relative;
    padding: 0;
    min-width: 50px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0;
	background:#69ac11;
	border-color:#69ac11;
	font-size:13px;
}

.btn-select .btn-select-value {
    padding: 2px 2px 2px 6px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
	min-width:80%;
}

.btn-select .btn-select-arrow {
    float: right;
    line-height: normal;
    padding: 2px 8px 3px;
    top: 0;
    color: #fff;
    font-size: 17px;
}

.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}

.btn-select ul li:hover {
    background-color: transparent;
}

.btn-select ul li.selected {
    color: white;
}

/* Default Start */
.btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
    border-color: #69ac11;
	box-shadow:none;
}

.btn-select.btn-default ul li.selected {
    background-color: #ccc;
}

 .btn-select.btn-default .btn-select-value {
    background-color: #69ac11;
    border: none;
	color:#fff;
}

.btn-select.btn-default ul {
    background-color: #fff;
    border: 1px solid #69ac11;
	color:#000;
}

.btn-select.btn-default:hover, .btn-select.btn-default.active {
    background-color: #69ac11;
}
/* Default End */


.btn-select.btn-select-light .btn-select-value {
    background-color: white;
    color: black;
}

/* css for select button dropdown  {End} */

.btn-deactivate {
    background: #ff8c22;
    color: #fff;
	border-radius:5px;
	font-size:13px;
	font-family:Lato;
	padding:1px 3px 2px;
	float:right; margin-top: 0px;
}

.btn-deactivate:hover {
    color: #fff;
}

.delete-icon {
    font-size:21px;
    color:#929292;
	margin-top: 1px;
}

.label_team-members {
  color:#656565;
  font: 700 17px Lato;
 }
 
.upcoming-projects-btn {
  background:#26ba9a;
  border-radius:0;
  text-transform:capitalize;
  font: 700 20px Lato;
  color:#fff;
  text-align:center;
  padding:11px 16px;
  width:90%;
  display:block;
  position:fixed;
  bottom:3%;
  left:5%;
  margin-top:30px;
}

.upcoming-projects-btn:hover {
  color:#fff;
}

/* 10_3- My Goals Page  */

.label-goal-name, .label-goal-due-date, .label-weight, .label-progress  {
  font:500 13px Lato;
  color:#6c6c6c;
  margin-top:0;
  margin-bottom:1px;
}

.label-goal-due-date, .goal-due-date {
  text-align:right;
}

.name-of-goal, .goal-due-date {
  font-size:16px;
  font-weight:700;
  margin-top:6px;
  color:#666;
  margin-bottom:5px;
}

.edit-goal-date {
 color:#888;
 font-size:20px;
 vertical-align: -13px;
    text-indent: -4px;
}

.my-goals_cards {
 border:1px solid #e6e6e6;
 margin:10px auto 18px;
 font-family:Lato ;
}

.my-goals_cards .card-header {
  color:#5e5e5e;
  border-bottom:1px solid #e3e3e3;
  padding:5px 0;
}

.my-goals_cards .card-block {
  padding:9px 0 10px 0;
  font-size:15px;
  background:#f7f7f7;
}

.weight-count {
  font-size:18px;
  font-weight:700;
  margin-top:7px;
  color:#666;
  margin-bottom:5px;
}

.goal_progress-bar {
    height: 13px;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: #ededed;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 10px;
}

/*  10_2- My Portrait  */

.my-portrait_cards {
 border:1px solid #e6e6e6;
 margin:8px auto 18px;
 font-family:Lato ;
}

.my-portrait_cards .card-header {
  color:#5e5e5e;
  border-bottom:1px solid #e3e3e3;
  padding:5px 0 6px;
}

.my-portrait_cards .card-block {
  padding:8px 13px 10px;
  font-size:15px;
  background:#f7f7f7;
  color:#333;
  font-weight:500;
  line-height:1.4;
}

.label-full-name, .label-document-type {
  font:500 13px Lato;
  color:#6c6c6c;
  margin-top:0;
  margin-bottom:1px;
}

.label-location, .label-department, .label-uploaded-by {
  font:400 12px Lato;
  color:#6c6c6c;
  margin-top:0;
  margin-bottom:4px;
  text-align:right;
}

.label-uploaded-by {
  margin-bottom:3px;
  font:400 13px Lato;
}

.label-location span, .label-department span {
  font:700 13px Lato;
}

.name-of-person, .document-type, .uploader-name  {
  font-size:16px;
  font-weight:700;
  margin-top:6px;
  color:#666;
  margin-bottom:5px;
  line-height:1.2;
}

.uploader-name  { 
  text-align:right;
}

.profile-info, .profile-work-info  {
   margin-bottom:0;
}

.profile-info .list-group-item:first-child, .profile-work-info .list-group-item:first-child  {
    padding: 0px 0px 7px;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
	border-bottom:1px solid #dfdfdf;
	border-radius:0;
	color:#757575;
}

.profile-work-info .list-group-item:first-child {
   color:#5d5d5d;
}

.profile-info .list-group-item, .profile-work-info .list-group-item {
    padding: 7px 0px 7px;
    background-color: transparent;
    border: none;
	border-bottom:1px solid #dfdfdf;
	border-radius:0;
	color:#757575;
}

.profile-info .list-group-item:last-child, .profile-work-info .list-group-item:last-child {
    border: none;
	padding-bottom:0
}

.profile-work-info .list-group-item {
	font-weight:700;
	color:#5d5d5d;
}

.profile-info .list-group-item i, .profile-work-info .list-group-item i {
 color:#bebebe;
  font-size:15px;
  padding-right:9px;
 }
 
 .profile-work-info .list-group-item i {
   vertical-align:-1px;
 }
 
 .profile-work-info .list-group-item  span {
  color:#5f5f5f;
  font-weight:400;
}

.label_documents {
  color:#656565;
  font: 700 17px Lato;
  margin-bottom:13px;
 }
 
 .label-note  {
  color:#787878;
  font:500 13px Lato;
  margin-bottom:5px;
 }
 
.label-note span {
  color:#087ab0;
  font-weight:700;
  padding-right:3px;
  text-decoration:underline;
 }
 
 span.black-text{
    color: black !important;
 }
.black-icon{
    color:black !important;
}
 .download-doc, .delete-doc {
 color:#929292;
 font-size:21px;
 vertical-align: -27px;
 cursor:pointer;
}

.delete-doc { 
margin-left:1px;
}

.download-doc {
 vertical-align: -20px;
}

/* 10_1- Directory  */

.directory_cards {
 border:1px solid #e6e6e6;
 margin:8px auto 19px;
 font-family:Lato ;
}

.directory_cards .card-header {
  color:#5e5e5e;
  border-bottom:1px solid #e3e3e3;
  padding:6px 0;
}

.directory_cards .card-block {
  padding:8px 13px 10px;
  font-size:14px;
  background:#f7f7f7;
  color:#333;
  font-weight:400;
  line-height:1.4;
}

.label-designation {
  font:400 13px Lato;
  color:#737373;
  margin-top:0;
  margin-bottom:1px;
}

.name-of-person span {
  font-size:15px;
  font-weight:400;
  color:#555;
}

.search-directory {
 margin-top:7px;
}

.search-directory label {
 font:500 13px Lato;
 color:#767676; margin-bottom:7px;
 }
 
.search-directory input  {
  border-radius:0;
  border-color:#e3e3e3;
  border-right:none;
  box-shadow:none;
  font:400 13px Lato;
  padding:6px 9px;
  height:37px;
  color:#b5b5b5;
 }
 
 .search-directory .input-group-addon {
  border-radius:0;
  border-color:#e3e3e3;
  box-shadow:none;
  color:#b5b5b5;
  font-size:18px;
  color:#bcbcbc;
  background:#fff;
  padding:6px 9px;
 }
 
.search-directory input:focus {
    border-color: #e3e3e3;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-directory .form-group {
 margin-bottom:21px;
}

/*  2- My Teams */

.teams_cards {
 border:1px solid #e7e7e7;
 margin:10px auto 18px;
 font-family:Lato ;
}

.teams_cards .card-header {
  color:#5e5e5e;
  border-bottom:1px solid #e3e3e3;
  padding:6px 0 5px;
}

.teams_cards .card-block {
  padding:10px 7px;
  font-size:13px;
  background:#f2f2f2;
}

.label-team-name, .label-team-lead  {
  font:500 13px Lato;
  color:#575757;
  margin-top:0;
  margin-bottom:1px;
}

.label-team-lead, .leader-name {
  text-align:right;
}

.name-of-team, .leader-name {
  font-size:16px;
  font-weight:700;
  margin-top:6px;
  color:#666;
  margin-bottom:5px;
  line-height:1.15;
  word-break: break-word;
}

.team-details {
  margin-top:8px; margin-bottom:1px;
}

.team-details p span {
  color:#5d5d5d;
  font:700 17px Lato;
  background:#fff;
  padding:4px 7px;
  margin-right:1px;
}

.team-details p {
  display:inline-block;
  color:#666;
  font:500 13px Lato;
  margin-right:8px;
}

.btn-active {
    background: #69ab13;
    color: #fff;
	border-radius:5px;
	font-size:13px;
	font-family:Lato;
	padding:1px 3px 2px;
}

.btn-active:hover {
    color: #fff;
}

/*  12- Project page */

.event_card, .task_card-odd, .task_card-even {
 border:1px solid #e6e6e6;
 margin:8px auto 0;
 font-family:Lato ;
}

.task_card-odd, .task_card-even {
 margin:0 auto;
}

.event_card .card-header {
  color:#5e5e5e;
  border-bottom:1px solid #e3e3e3;
  padding:6px 0;
}

.event_card .card-block, .task_card-odd .card-block, .task_card-even .card-block {
  padding:10px 15px;
  font-size:14px;
  background:#fff;
  color:#333;
  font-weight:400;
  line-height:1.35;
}

.task_card-odd .card-block, .task_card-even .card-block {
  padding:11px 0 10px;
  background:#f7f7f7;
  font-size:15px;
}

.task_card-even .card-block {
  background:#ececec;
}

.event-info  {
   margin-bottom:8px;
}

.event-info .list-group-item:first-child {
    padding: 5px 0px 7px;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
	border-bottom:1px solid #dfdfdf;
	border-radius:0;
	color:#777;
}

.event-info .list-group-item  {
    padding: 11px 0px;
    background-color: transparent;
    border: none;
	border-bottom:1px solid #dfdfdf;
	border-radius:0;
	color:#757575;
}

.event-info .list-group-item span {
    font-weight:700;
	color:#5a5a5a;
}

.event-info .list-group-item:last-child  {
    border: none;
	padding-bottom:0
}

.calendar-icon, .location-icon {
 color:#bfbfbf;
  font-size:17px;
  padding-right:11px;
  float:none !important;
 }
 
.location-icon { 
  padding-right:15px;
}

.event-info .list-group-item i   {
   float:right;
   font-size:22px;
   color:#8d8d8d;
 }
 
 .task-dates  {
  color:#787878;
  font:500 12px Lato;
  margin-bottom:10px;
  text-align:right;
 }
 
 .task-assign-select .form-control, .task-status-select .form-control {
 border:1px solid #e1e1e1;
 border-radius:0;
 color:#5a5a5a;
 font:700 14px Lato;
 padding:6px 8px;
	box-shadow: none;
}

.task-assign-select .form-control:focus , .task-status-select .form-control:focus {
	box-shadow: none;
	outline: 0 
}
 
 .task-status-select .form-control {
   color:#b6b6b6
 }
 
 .task-status-select .form-control option {
  color:#666;
 }
 
 .task-assign-select, .task-status-select {
  margin-top:2px;
 }
 
 .task-assign-select label, .task-status-select label, .expenses label, .incentives label, .bill label {
 color:#717171;
 font:500 15px Lato;
 margin-bottom:8px;
}

.expenses label, .incentives label, .bill label {
  display:block;
}

.expenses span, .incentives span, .bill span {
padding:9px 10px 9px 13px;
background:#608ebf;
color:#fff;
font:700 14px Lato;
display:block;
background:#608ebf;
background:#608ebf;
margin-bottom:13px;
}

/*  3- My Projects page  */

.filter-icon_top {
   float: right;
    margin-top: -40px;
	font-size:17px;
	margin-right:32px;
}

.filter-icon_top i {
  vertical-align:-1px;
}

.my-projects-collapse {
   width:100%;
   background:#fff;
   border:1px solid #e3e3e3;
   padding:7px 9px 5px;
   margin:13px 0 0;
}

.event-name, .event-points {
 margin-top:0;
 font:700 19px Lato;
 color:#666;
 margin-bottom:4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.event-points {
 color:#17b495;
 margin-top:6px;
}
.event-venue {
 font:500 13px Lato;
 color:#666;
}

.label-total-incentive {
 font:600 13px Lato;
 color:#17b495;
 vertical-align:-2px;
}

.event-edit-icon {
 color:#8a8a8a;
 font-size:20px;
 vertical-align:-20px;
 text-indent:-2px;
}

.open-closed-icon {
 color:#8a8a8a;
 font-size:20px;
 vertical-align:-19px;
 padding-left:4px;
}

.expenses span i {
 float:right;
 font-size:24px;
 margin-top:-3px;
 cursor:pointer;
}

/* 8.1, 8.2, 8.3  task expense page  */

.task-expense-tab {
  width:100%;
  padding:4px 15px 0;
  background:#f2f2f2;
}

.task-expense-tab li {
 width:32.8%;
 text-align:center;
 font:700 17px Lato;
 cursor:pointer;
}

.task-expense-tab li a {
  color:#4d6e91;
}

.task-expense-tab>li.active>a, .task-expense-tab>li.active>a:hover,
.task-expense-tab>li.focus>a, .task-expense-tab>li.active>a:focus {
  color:#25ba9a;
  background:transparent;
  border-bottom:7px solid #25b999;
  border-radius:0; padding-bottom:13px;
	outline:0 !important;
}

.task-expense-tab>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.task-expense-tab-content {
 padding:10px 15px;
 background:#fff;
}

.notes-card-light-bg, .notes-card-dark-bg {
 border:1px solid #e2e2e2;
 margin:10px auto 18px; padding:7px 8px 8px;
 background:#fafafa;
}

.notes-card-dark-bg {
  background:#f1f1f1;
 }

.posted-by {
  color:#747474;
  font:700 13px Lato; margin-top:1px;
 }
 
.posted-by span {
 color:#25b999;
}

.notes-card-light-bg blockquote, .notes-card-dark-bg blockquote {
 padding: 0 ;
    margin: 0 0 6px;
    border-left: 5px solid #bbb;
}

.task-date {
 padding:0 5px 0 8px;
}

.task-date h6  {
  margin-top:0;
  color:#b7b7b7;
  font:400 13px Lato;
  margin-bottom:5px;
  text-indent:3px;
 }
 
 .task-date p  {
  margin-top:0;
  color:#bbb;
  font:700 23px Lato;
  margin-bottom:0
 }
 
.task-notes {
 font:400 14px Lato;
 color:#2d2d2d;
 margin:0;
 line-height:1.25;
}

.task-notes-edit  {
  font-size:25px;
  color:#929292;
  vertical-align:-15px;
  margin-left:-5px;
}

.label-incentive, .label-assigned-to, .label-member, .label-amount  {
  font:500 14px Lato;
  color:#25b99b;
  margin-top:0;
  margin-bottom:1px;
}

.label-assigned-to, .label-member, .label-amount  {
  color:#666;
}

.label-incentive, .incentive-points, .label-amount, .amount-total  {
  text-align:right;
}

.incentive-points {
  font-size:16px;
  font-weight:700;
  margin-top:6px;
  color:#25b99b;
  margin-bottom:5px;
}

.edit-assign-icon {
 color:#888;
 font-size:21px;
 vertical-align: -14px;
    text-indent: -5px;
}

.status-detail  {
  color:#787878;
  font:500 12px Lato;
  margin-bottom:10px;
  text-align:right;
 }
 
.status-detail span {
  color:#25b999;
  font-weight:bold;
 }
 
.assigned-to-name, .name-of-member, .amount-total {
  font-size:16px;
  font-weight:700;
  margin-top:6px;
  color:#666;
  margin-bottom:5px;
}

.name-of-member, .amount-total {
 color:#23af91;
 margin-top:4px;
 font-weight:700;
}

.member-note {
 margin-top:-6px;
 color:#323232;
 margin-bottom:7px;
}

.top-border {
 margin:0;
 border-top:1px solid #ececec;
 padding-top:7px;
}

.expenses-card {
 margin:0; background:#fafafa !important;
 padding-bottom:1px !important;
}

/*  code for pocket-ticket-menu  */

.pocket-ticket-menu {
  right:28px; margin-top:30px;
  border-radius:0; padding:20px 35px 18px;
  background:#2b292a;
}

.pocket-ticket-menu li:not(:last-child) {
 border-bottom:1px solid #656162
}

.pocket-ticket-menu li:focus {
 outline:none;
}

.pocket-ticket-menu li a {
  padding: 9px 0;
    font: 700 16px Lato;
    color: #909090;
}

.pocket-ticket-menu>.active>a, .pocket-ticket-menu>.active>a:hover, .pocket-ticket-menu>.active>a:focus {
    color: #fff;
	font: 700 16px Lato;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #5f5b5a;
    text-decoration: none;
    background-color: transparent; outline: 0;
}

.black-cut-out {
   position: absolute;
    top: -28px;
    right: -1px
}

/* added dated 27th feb 2017 */

/* add team page & add project page */

.add-new-form, .add-team-form  {
    border: 1px solid #e7e7e7;
    margin:10px auto;
    padding:15px 10px;
}

.add-new-form label, .add-team-form label {
    font: 500 14px Lato;
    color: #575757;
    text-indent:1px;
}

.add-new-form input, .add-team-form input, .add-new-form textarea, .add-new-form select {
    font:500 16px Lato;
    color:#777;
    border-radius:1px;
    box-shadow:none; margin:3px 0;
     padding-left:30px;
}

.add-new-form select {
    padding-left:8px;
	font-weight: 600;
}

.add-new-form select:focus {
	box-shadow: none;
	outline: 0;
	border-color: #ccc;
}

.add-new-form textarea {
    padding-left:12px;
}

.add-new-form .assign-to {
    font:700 16px Lato;
    color:#777;
    border-radius:0px;
    box-shadow:none; margin:3px 0;
}

.add-new-form .form-icon, .add-team-form .form-icon  {
    position:relative;
}

.add-new-form span, .add-team-form .fa-group {
    position:absolute; top:36.5px; left:5px;
    color:#999;
}

.select-members {
    display:inline-block;
}

.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
    box-shadow: none;
    
}

.add-new-member-btn {
    background: #ff8c22;
    border: 1px solid #ff8c22;
    color: #fff;
    font-size:15px;
    margin:17px auto 10px;
}

.add-new-member-btn:focus, .add-new-member-btn:hover, .add-new-member-btn:active {
   background: #ff8c22;  color:#fff; outline:none;
    outline-offset: 0px;
}

.add-member-pop-up {
    color: #fff;
    border-radius: 6px;
    font-size:18px;
    margin-left:10px;
    padding:1px 9px 1px;
}

.add-member-pop-up:focus, .add-member-pop-up:hover, .add-member-pop-up:active {
   color:#fff; outline:none;
    outline-offset: 0px;
}


.create-btn {
    background: #26B99A;
    border: 1px solid #169F85;
    color:#fff;
    margin:16px auto 10px;
}

.create-btn:focus, .create-btn:hover, .create-btn:active {
    background: #26B99A;
    color:#fff;
    background: #169F85;  outline:none;
    outline-offset: 0px;
}   

.add-new-members-wrap {
    margin-top:32px;
    display:none;
}

.add-new-members-wrap-show {
    display:initial;
}

.add-new-members-wrap input {
    padding-left:12px;
}

.add-new-members-wrap h4 {
    text-align:center;
    color:#000; font-weight: 600;
    margin-bottom:17px;
}

.member-details {
    width:100%;
    border-radius:4px;
    border:1px solid #ccc;
    margin:15px auto;
    padding:12px 7px;
}

.member-details div:not(:last-child) {
    padding-bottom:10px;
    margin-bottom:12px;
    border-bottom:1px solid #eee;
}

.member-details div {
    color:#333;
    font-size:15px;
}

.member-details div span {
    display:inline-block;
    width:30%;
    text-indent: 2px;
}

.member-details div p {
    font-size:18px;
    color:#333;
    font-family:Lato;
    font-weight:700;
    text-indent: 2px;
    margin-bottom:0
}

.member-details div i {
    font-size:16px;
    color:#777; vertical-align: middle;
}


/* designation page */

.designation-wrap {
    border:1px solid #ccc;
    padding:10px;
    margin:10px auto 15px;
}

.designation-wrap label {
    font: 500 14px Lato;
    color: #575757;
    text-indent:1px;
    display: block;
}

.designation-wrap label .edit-desig {
    color: #347494; vertical-align: -1px;
    font-size:18px; cursor:pointer
}

.designation-wrap label .delete-desig {
    color:#ff2627;
    font-size:18px; cursor:pointer
}

.designation-wrap div:not(:last-child) {
    margin-bottom:15px;
    padding-bottom:5px;
    border-bottom:1px solid #eee;
}

.designation-wrap h4 {
    margin-top:5px;
    color:#333;
    margin-bottom:3px;
    font-family: Lato;
    font-weight:600; line-height:1.4;
}

.level-wrap {
    width:20%;display:inline-block;text-align:center; 
    vertical-align:top;border-right:1px solid #eee;
}

.role-wrap {
    width:78.5%;display:inline-block;vertical-align:top;padding-left:10px;
}

.add-new-designation-wrap {
    margin-top:10px;
    border:1px solid #e7e7e7;
    padding:10px;
    margin-bottom:25px;
    display:none;
}

.add-new-designation-wrap-show {
    display:initial;
}

.add-new-designation-wrap label {
    font: 500 14px Lato;
    color: #575757;
    text-indent:1px;
}

.add-new-designation-wrap input {
    border-radius:0; box-shadow:none;
}

.add-new-designation-wrap h4 {
    text-align:center;
    color:#000; font-weight: 600;
    margin-bottom:19px;
}

/* upload btn css */

.upload-doc {
    color:#fff !important;
    font-size:14px !important; margin-left:18px;
    padding:6px 12px 8px; margin-top:7px; vertical-align: 1px;
}

.upload-doc:hover, .upload-doc:focus, .upload-doc:active {
    color:#fff; outline:0; box-shadow: none;
}

.upload-doc-wrap {
    padding:5px; padding-right:29px;
    position: relative; background: #e5e5e5;
    color:#111; white-space: nowrap;
  overflow: hidden; text-overflow: ellipsis;
    margin-top:23px;
}

.upload-doc-wrap .remove {
    position: absolute; top:7px; right:8px;
    color:#333; font-size: 16px; font-weight:500;
}

.my-account-wrap {
	border: 1px solid #e7e7e7;
    margin: 10px auto;
    padding: 15px 15px 10px;
}

.my-account-wrap label {
	display: block;
	margin-bottom: 5px;
	font-weight: 500;
	color: #929292;
}

.my-account-wrap h5 {
	display: block;
	margin-top: 5px;
	font-weight: 600;
	font-size: 15px;
	color: #444;
}

/*  add a team member css */

.label-or {
	position: relative;
	text-align: center;
	margin: 18px 0 15px;
	font-family: Lato;
}

.label-or h4 {
	font-weight: 700;
	font-style: italic;
	padding: 2px 6px;
	background: #fff;
	display: inline-block;
	margin-top: -8px;
}

.label-or .dash   {
	height: 1px;
    width: 70%;
    background: #acacac;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 8px;
    z-index: -9;
    left: 15%;
}

.label-create-new-user  {
	font-family: Lato;
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
}


/*  team detail css */

.team-name {
	border-bottom:1px solid #d7d7d7;
	padding-bottom: 6px;
	color:#656565;
	font-family:Lato;
	font-weight:700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.team-member_label, .label_upcoming-project {
  color:#333;
  font-family:Lato;
  font-weight:700;
  font-size: 17px;
}

.task-title {
	font-family: Lato;
	color:#222;
	font-size: 16px;
	font-weight: 600;
	margin-top: 5px;
}

.select-member-role-wrap  {
	margin-bottom:0;
	position: relative;
}

.select-member-role {
	position: relative;
    padding: 0 12px 0 6px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0;
    background: #69ac11;
    border-color: #69ac11;
    font-size: 13px;
	color: #fff;
	height: 26px; box-shadow: none;
	outline: 0; margin-top: -1px;
}

.select-member-role option {
	background: #fff;
	border: 1px solid #69ac11;
    color: #000; font-size: 12px;
}

.select-member-role:focus {
	box-shadow: none;
	outline: 0; border-color: #69ac11;
}

.select-member-role-wrap i {
	position: absolute;
	top: 5px;
    right: 5px;
	padding: 2px;
	color:#fff;
	font-size: 15px;
	background: #69ac11;
	z-index: 9;
}

.add-team-member-modal {
	font-family: Lato;
}

.add-team-member-form {
	border: none;
	margin: 0;
	padding: 5px;
}

.add-team-member-modal .modal-header {
	padding-bottom: 9px;
}

.add-team-member-modal .modal-title {
	font-weight:700;
}

.add-team-member-modal .modal-header .close {
    margin-top: 2px;
	opacity: .7;
}

.add-team-member-modal .modal-header .close:hover {
    opacity: 1; color:red;
}

.add-team-member-modal .modal-header .close:active, .add-team-member-modal .modal-header .close:focus {
	outline:0 !important;
}

/* side nav css start */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background: #202022;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 10px 35px;
    text-decoration: none;
    font-size: 18px;
    color: #ababab;
    display: block;
    transition: 0.3s
}

.sidenav a i {
    margin-right:10px;
}

.sidenav a:hover, .offcanvas a:focus,  .sidenav a:focus, .sidenav .active  {
    color: #f4f4f4; border:none; outline:0
}

.sidenav .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* side nav css end */

/*  awards page html */

.point-awards-wrappper {
    margin:10px 0 15px;
}

.point-awards-wrappper h4 {
    font-weight:600;
    text-align: center;
    margin-bottom:20px;
}

.awards-pg-tab {
  width:100%;
  padding:4px 15px 0;
  background:#f2f2f2;
}

.awards-pg-tab li {
 width:49.5%;
 text-align:center;
 font:700 16px Lato;
 cursor:pointer;
}

.awards-pg-tab li a {
  color:#4d6e91;
}

.awards-pg-tab>li.active>a, .awards-pg-tab>li.active>a:hover {
  color:#25ba9a;
  background:transparent;
  border-bottom:7px solid #25b999;
  border-radius:0; padding-bottom:13px;
}

.awards-pg-tab>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.awards-pg-tab-content {
    padding: 10px;
    background: #fff;
}

.point-awards-search input {
    border-radius:0;
    box-shadow:none;
    padding:6px 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.point-awards-search input:focus {
    box-shadow: none;
    outline:0;border-color:#ccc;
}

.point-awards-search .input-group-addon {
    background: #fff;
    border-radius: 0;padding:6px 9px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color:#ccc; color: #ccc;
}

.point-awards-table {
    border:1px solid #ccc;
    margin:5px auto;
    margin-bottom:0px;
    font-family:Lato;
    width:97%;
    margin:0 auto;
    padding:5px 8px 7px;
}

.point-awards-table li {
    font-size:15px;
    padding:5px 3px 7px;
    border-radius:0;
    border:none; margin-bottom:5px;
}

.point-awards-table .li-wrap {
    margin-top:3px;
}

.point-awards-table .li-wrap:not(:last-child) {
    border-bottom:2px solid #333;
    margin-bottom:10px; 
}

.point-awards-table .list-group-item:not(:last-child) {
    border-bottom: 1px solid #ddd; 
}

.point-awards-table .list-group-item:last-child {
    padding-bottom:8px;
}

.point-awards-table .list-group-item .labels, .point-awards-table .list-group-item:last-child .labels, .point-awards-table .list-group-item:first-child .labels {
    width:30%; display:inline-block;vertical-align: top;
    color:#555; font-weight:600; 
}

.point-awards-table .list-group-item .contents, .point-awards-table .list-group-item:last-child .contents, .point-awards-table .list-group-item:first-child .contents {
    width:68.5%; display:inline-block;vertical-align: top;
    color:#777;
}

.add-points-wrapper {
    border:1px solid #ddd;
    width:97%;
    margin:7px auto 25px;
    padding:10px;
    display:none;
}

.add-points-wrapper label {
    font: 500 14px Lato;
    color: #575757;
    text-indent:1px;
}

.add-points-wrapper input, .add-points-wrapper select {
    font:700 16px Lato;
    color:#777;
    border-radius:0px;
    box-shadow:none; margin:3px 0;
}
